html, body{
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10pt;
  background: black;
  color: white;
}
#root{
  height: 100%;
}
:focus{
  outline: none;
}